---
import PageApp from "../../layouts/pageApp.astro"
import EyePLandingPageFR from "../../components/eyep-FR"
---

<PageApp
	title="EyeP"
	description="Pomodoro App MultiPlataform"
>
	<main>
		<EyePLandingPageFR client:load />
	</main>
</PageApp>
