---
import PageApp from "../../layouts/pageApp.astro"
import EyePLandingPageEN from "../../components/eyep-EN"
---

<PageApp
	title="EyeP"
	description="Pomodoro App MultiPlataform"
>
	<main>
		<EyePLandingPageEN client:load />
	</main>
</PageApp>
