---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHubIco from "../components/icons/GitHubIco.astro";
import SocialPill from "../components/SocialPill.astro";
import XIco from "../components/icons/XIco.astro";
import EmailIco from "../components/icons/EmailIco.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import BriefcaseIco from "../components/icons/BriefcaseIco.astro";
import ProjectsIco from "../components/icons/ProjectsIco.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import PDFIco from "../components/icons/PDFIco.astro";
import AboutMe from "../components/AboutMe.astro";
import AboutMeIco from "../components/icons/AboutMeIco.astro";
---

<Layout
  title="Porfolio de Mafifa - Desarrolador y Programador Web"
  description="Contrata a Mafifa para crear tu aplicacion web o movil. Desarrolador web Junior y estudiante de Ingieneria de Sistemas"
>
  <main>
    <Container class="lg:w-[740px] py-44 mx-auto pb-24">
      <div class="max-w- mx-auto">
        <img
          src="../PERFIL1x1.jpg"
          class="rounded-full size-20 mb-5"
          alt="carlos foto"
        />

        <h1
          class="text-white lg:pb-6 text-wrap md:text-4xl text-3xl lg:text-5xl flex font-bold flex-row gap-x-4 pb-10 items-center"
        >
          Hey, soy Mafifa
          <Badge class="items-center self-center justify-center">
            <a href="mailto:mafifacu@gmail.com" target="_blank" rel="nooperner"
              >Disponible Para trabajar
            </a>
          </Badge>
        </h1>
      </div>

      <h2
        class="text-wrap text-xl lg:text-2xl opacity-80 flex justify-center items-center"
      >
        Estudiante de Ingeniería de Sistemas y Desarrollador web Fullstack
        Junior. Especializado en TypeScript, React, Astro y bases en NextJS. Con
        experiencia en liderazgo de proyectos y optimización de experiencias
        digitales.
      </h2>
      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill href="https://github.com/Mafifa">
          <GitHubIco class="size-5 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://twitter.com/Mafifa_Charlys">
          <XIco class="size-4 md:size-5" />
          Twi-x-ter
        </SocialPill>
        <SocialPill href="mailto:mafifacu@gmail.com">
          <EmailIco class="size-5 md:size-6" />
          MafifaCu@gmail.com
        </SocialPill>

        <SocialPill
          href="https://drive.google.com/uc?id=1hCT00E6mxRLfaM1cFGnCTleFRnPkLMLD&export=download"
        >
          <PDFIco />
          CV-EN
        </SocialPill>
        <SocialPill
          href="https://drive.google.com/uc?id=1UaTEBDQc4aX2SZoCVe3FqbztmLs_Ons8&export=download"
        >
          <PDFIco />
          CV-ES
        </SocialPill>
      </nav>
    </Container>

    <Container id="Experiencia" class="lg:w-[740px] mx-auto">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIco class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
      <slot />
    </Container>

    <Container id="Proyectos" class="lg:w-[740px] mx-auto">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProjectsIco class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </Container>

    <section class="bg-[#373538]">
      <Container id="Sobre-mi" class="lg:w-[740px] mx-auto mt-10">
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pt-5">
          <AboutMeIco class="size-9" />
          Sobre mi
        </h2>
        <AboutMe />
      </Container>
    </section>
    <Footer />
  </main>
</Layout>
