---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="lg:w-[740px] flex items-center mx-auto pb-4">
  <div class="">
    <p class="text-base font-medium text-wrap">
      {t("about.p1")}
    </p>
    <br />
    <p class="mb-4 text-base font-medium">
      {t("about.p2")}
    </p>
  </div>
  <img
    src="../../Projects/fogata.jpg"
    alt="FOGATA"
    class="ml-4 rounded-xl size-20 mb-auto"
  />
</section>
