<section class="lg:w-[740px] mx-auto">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam
    minus iusto tenetur aut, nostrum expedita voluptatum reprehenderit, rem
    similique, quos impedit! Nisi cum qui quae itaque quod nam dolore.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit,
    voluptatibus nemo debitis at reprehenderit deleniti maiores sit aperiam
    itaque tempore. Dolorem quos, quo soluta voluptatibus dolore nihil illo
    culpa quis!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolores sed,
    voluptatibus sunt molestias quia illo sapiente ipsum veniam, iusto libero.
    Praesentium, sapiente ea aspernatur eius debitis minima vero quaerat.
  </p>
</section>
