---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Julio 2023 / Octubre 2023",
    title: "Gerente - Supervisor general de sistema de facturacion ",
    description:
      "Durante el verano de 2023, asumí el rol de gerente y líder en una pequeña empresa minorista de electrodomésticos. Mis responsabilidades incluyeron supervisar las operaciones diarias y proporcionar liderazgo al equipo. Además de las tareas gerenciales, contribuí activamente al mantenimiento del sistema de facturación. Este sistema, construido sobre una base de bases de datos SQL y programado en C++, era un componente crucial para el negocio.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
p
