---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
let year = new Date();
---

<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© {year.getUTCFullYear()}
      <a href="mailto:mafifacu@gmail.com" class="hover:underline"
        >Carlos Mafifa</a
      >. {t("footer.template")}
      <a
        href="https://github.com/midudev/porfolio.dev"
        class="hover:underline"
        target="_blank"
        rel="nooperner">MiduDev</a
      >.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/9 0 sm:mt-0"
    >
      <li>
        <a href="#Top" class="hover:underline me-4 md:me-6"
          >{t("header.start")}</a
        >
      </li>
      <li>
        <a href="#Experiencia" class="hover:underline me-4 md:me-6"
          >{t("header.experience")}</a
        >
      </li>
      <li>
        <a href="#Proyectos" class="hover:underline me-4 md:me-6"
          >{t("header.projects")}</a
        >
      </li>
      <li>
        <a href="#Sobre-mi" class="hover:underline me-4 md:me-6"
          >{t("header.about")}</a
        >
      </li>
    </ul>
  </div>
</footer>
