---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import LanguagePicker from "../components/LanguagePicker.astro";
---

<header
  class="flex justify-center items-center py-5 px-6 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class="flex flex-row justify-between md:items-center gap-x-10 opacity-90 text-xs md:text-base lg:text-lg"
  >
    <a href="#Top"></a>
    <a href="#Experiencia">{t("header.experience")}</a>
    <a href="#Proyectos">{t("header.projects")}</a>
    <a href="#Sobre-mi">{t("header.about")}</a>
    <LanguagePicker />
  </nav>
</header>
