<a
	{...Astro.props}
	target="_blank"
	rel="nooperner noreferrer"
	class={`flex items-center gap-2 px-4 py-2 text-sm font-medium bg-gray-800/50 hover:bg-gray-700/50 rounded-full transition-all hover:scale-105`}
>
	<slot />
</a>
