---
interface Props {
  Class?: string;
}

const { Class } = Astro.props;
---

<div class="mt-2">
  <p
    class={`${Class} flex items-center mx-auto uppercase text-2xl font-bold border border-white w-fit px-1.5`}
  >
    Dasca
  </p>
</div>
