---
import PageApp from "../../layouts/pageApp.astro"
import EyePLandingPageES from "../../components/eyep-ES"
---

<PageApp
	title="EyeP"
	description="Pomodoro App MultiPlataform"
>
	<main>
		<EyePLandingPageES client:load />
	</main>
</PageApp>
