---
import PageApp from "@/layouts/pageApp.astro"
import TheWayComponent from "../../components/TheWay"
---

<PageApp
	title="TheWay"
	description="Transfer App MultiPlataform"
>
	<main>
		<TheWayComponent client:load />
	</main>
</PageApp>
