---
interface Props {
    title: string
    description: string
}

import Header from "../components/Header.astro"
import "@fontsource-variable/onest"
const { description, title } = Astro.props
const { currentLocale } = Astro
---

<!DOCTYPE html>
<html lang={currentLocale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
				<script src="/scripts/starfield.js" defer></script>
        <title>{title}</title>
    </head>
    <body>
        <!-- Fondo estrellado -->
        <canvas id="starfield"></canvas>

        <Header />
        <div id="content">
            <slot />
        </div>
    </body>
</html>

<!-- ESTILOS -->
<style is:global>
    :root {
        color-scheme: light dark;
    }
    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
    }
    body {
        display: flex;
        flex-direction: column;
        background-color: #0a0a0a;
        min-height: 100vh;
        background: #141414;
        margin: 0;
        overflow-x: hidden; /* Evita el scroll horizontal */
    }
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none; /* Evita que interfiera con la interacción del usuario */
    }
    #content {
        position: relative;
        z-index: 1; /* Asegura que el contenido esté por encima del canvas */
        background: transparent;
    }
    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
