---
interface Props {
	title: string
	description: string
}
import Header from "../components/Header.astro"
import "@fontsource-variable/onest"
const { description, title } = Astro.props
const { currentLocale } = Astro
---

<!DOCTYPE html>
<html lang={currentLocale}>
	<head>
		<!-- Google Tag Manager -->
		<script>
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : ""
				j.async = true
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, "script", "dataLayer", "GTM-KLTN4CS9")
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-KLTN4CS9"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<!-- <div class="w-max h-max"><img src="./Projects/cool-background.png" alt="BACKGROUD"></div> -->
		<Header />
		<slot />
	</body>
</html>

<!-- ESTILOS -->
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		background-color: #050505;
		min-height: 100vh;
		/* background-image: url("./Projects/cool-background.png"); */
		background: #1c1d22;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
